<!-- German footer (/, default language). Same structure as partials/footer.html
     with German headings/labels. Service names and city names are proper
     nouns (kept German), except "Nuremberg" -> "Nürnberg". The English
     homepage and other pages use partials/footer.html. -->
<footer class="site-footer">
  <div class="container site-footer__grid">
    <div class="site-footer__col">
      <h2 class="site-footer__heading">Kontakt</h2>
      <address class="site-footer__address">
        FRANKONIA Sicherheitsdienst GmbH &amp; Co. KG<br>
        Neuerbstraße 19<br>
        96052 Bamberg
      </address>
      <ul class="site-footer__list">
        <li><a href="tel:+499519643520">+49 951 964352-0</a></li>
        <li><a href="mailto:info@frankonia-sicherheit.de">info@frankonia-sicherheit.de</a></li>
      </ul>
    </div>

    <div class="site-footer__col">
      <h2 class="site-footer__heading">Rechtliches</h2>
      <ul class="site-footer__list">
        <li><a href="/jobs/">Karriere</a></li>
        <li><a href="/referenzen/">Referenzen</a></li>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/datenschutz/">Datenschutz</a></li>
      </ul>
    </div>
  </div>

  <div class="container site-footer__services">
    <h2 class="site-footer__heading">Leistungen</h2>
    <div class="footer-pills-rows">
      <ul class="footer-pills">
        <li><a class="footer-pill" href="/werkschutz/">Werkschutz</a></li>
        <li><a class="footer-pill" href="/objektschutz/">Objektschutz</a></li>
        <li><a class="footer-pill" href="/baustellenbewachung/">Baustellenbewachung</a></li>
        <li><a class="footer-pill" href="/brandwache/">Brandwache</a></li>
        <li><a class="footer-pill" href="/revier-schliessdienst/">Revier- &amp; Schließdienst</a></li>
      </ul>
      <ul class="footer-pills">
        <li><a class="footer-pill" href="/empfangsdienst/">Empfangsdienst</a></li>
        <li><a class="footer-pill" href="/veranstaltungsschutz/">Veranstaltungsschutz</a></li>
        <li><a class="footer-pill" href="/kaufhausdetektei/">Kaufhausdetektei</a></li>
        <li><a class="footer-pill" href="/sicherheitstechnik/">Sicherheitstechnik</a></li>
        <li><a class="footer-pill" href="/interventionsdienst/">Interventionsdienst</a></li>
      </ul>
    </div>
  </div>

  <div class="container site-footer__coverage">
    <h2 class="site-footer__heading">Einsatzgebiete</h2>
    <div class="footer-pills-rows">
      <ul class="footer-pills">
        <li><a class="footer-pill" href="/sicherheitsdienst-bamberg/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Bamberg</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-nuernberg/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Nürnberg</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-wuerzburg/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Würzburg</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-erlangen/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Erlangen</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-fuerth/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Fürth</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-schweinfurt/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Schweinfurt</a></li>
      </ul>
      <ul class="footer-pills">
        <li><a class="footer-pill" href="/sicherheitsdienst-bayreuth/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Bayreuth</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-coburg/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Coburg</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-ansbach/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Ansbach</a></li>
        <li><a class="footer-pill" href="/sicherheitsdienst-hof/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Hof</a></li>
        <li><a class="footer-pill" href="/einsatzgebiete/"><img class="footer-pill-icon" src="/assets/icons/icon-location.svg" alt="" width="16" height="16" loading="lazy">Alle Einsatzgebiete</a></li>
      </ul>
    </div>
  </div>

  <div class="site-footer__bottom container">
    <p>&copy; 2026 FRANKONIA Sicherheitsdienst GmbH &amp; Co. KG</p>
  </div>
</footer>
